$withe: #ffffff;
$orange: #ff7300;
$gray: #999999;
$black: #000;
$font-title: 'Margarine', cursive;
$font-body: 'Instrument Sans', sans-serif;

body {
  margin: 0;
  font-family: $font-body;
  background: $gray;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/hero_desctop.png') repeat center center;

  height: 600px;
  width: 1200px;
  margin: 0 auto;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  &__title {
    color: $orange;
    font-size: 48px;
    font-weight: bold;
    font-family: $font-title;
    letter-spacing: 2px;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 100px;
  box-sizing: border-box;
}

@media (max-width: 1199px) {
  .container {
    max-width: 710px;
    padding: 50px 50px;
  }
}
@media (max-width: 809px) {
}
.intro {
  background-color: $gray;

  &__title {
    font-size: 48px;
    font-family: $font-title;
  }

  &__text {
    max-width: 700px;
    margin: 40px 0;
    font-size: 28px;
    color: #333;
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;

    gap: 50px;

    .stat {
      strong {
        display: block;
        font-size: 32px;
        color: $black;
        margin-bottom: 10px;
      }

      span {
        font-size: 16px;
        color: $black;
      }
    }
  }
}

// Адаптив
@media (max-width: 1199px) {
  .hero {
    width: 100%;
  }
  .hero__title {
    font-size: 36px;
    font-family: $font-title;
  }
}

@media (max-width: 809px) {
  .hero {
    background: url('../images/hero_mobile_.png') repeat center center;
    background-size: cover;
    height: 500px;
    padding: 60px 10px;
  }

  .hero__title {
    font-size: 28px;
    font-family: $font-title;
  }

  .intro__stats {
    flex-direction: column;
    gap: 16px;
  }
}

.coin-system {
  background: $black;
  color: white;

  &__title {
    color: $orange;
    font-size: 48px;
    margin-bottom: 40px;
    font-family: $font-title;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__image img {
    width: 480px;

    border-radius: 20px;
    display: block;
  }

  .step {
    max-width: 400px;

    &__title {
      color: $orange;
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__desc {
      font-size: 16px;
      color: #ddd;
      line-height: 1.6;
      margin-bottom: 60px;
    }
  }
}

// Адаптив
@media (max-width: 1199px) {
  .coin-system {
    &__image img {
      width: 360px;
    }
  }

  .coin-system__content {
    .step {
      &__desc {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 809px) {
  .coin-system__content {
    flex-direction: column;
  }

  .coin-system__title {
    font-size: 24px;
    font-family: $font-title;
  }

  .step {
    &__desc {
      margin-bottom: 40px;
    }
  }
}

.features-advanced {
  background: $black;

  color: $withe;

  &__grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .feature-icon {
    background: #141414;
    border-radius: 20px;
    padding: 20px;
    width: 260px;
    height: 330px;

    img {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
    }

    h3 {
      color: $withe;
      font-size: 18px;
      margin-bottom: 8px;
    }

    p {
      color: #999;
      font-size: 14px;
    }
  }
}

.roadmap-status {
  background: $black;

  color: $withe;

  &__grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .status-card {
    background: #141414;
    border-radius: 20px;
    padding: 30px;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; // добавлено
    height: 400px; // нужно для выравнивания|
    width: 320px;

    h4 {
      font-size: 14px;
      color: #aaa;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    ul {
      padding-left: 20px;
      list-style-type: '✓ ';
      color: #ccc;

      li {
        margin-bottom: 10px;
        font-size: 15px;
      }
    }

    .status-btn {
      background: $orange;
      margin-top: 30px;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      color: $black;
      cursor: default;
    }
  }
}

@media (max-width: 809px) {
  .features-advanced__grid,
  .roadmap-status__grid {
    flex-direction: column;
    align-items: center;
  }

  .feature-icon,
  .status-card {
    flex: 1 1 100%;
    max-width: 400px;
  }
}

.roadmap-stages {
  background: $gray;

  color: $black;

  &__title {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-title;
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .stage {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;

    &__quarter {
      flex: 1 1 20%;
      font-weight: bold;
      font-size: 18px;
    }

    &__content {
      flex: 1 1 75%;

      p {
        font-size: 16px;
        margin-bottom: 10px;
      }

      ul {
        margin: 0;
        padding-left: 20px;

        li {
          font-size: 16px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

@media (max-width: 809px) {
  .stage {
    flex-direction: column;

    &__quarter {
      margin-bottom: 10px;
    }
  }
}

.get-cointracking {
  background: $black;
  color: $withe;

  text-align: center;

  &__title {
    color: $orange;
    font-size: 36px;
    margin-bottom: 60px;
    font-family: $font-title;
  }

  &__grid {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: nowrap;
  }

  &__item {
    flex: 1 1 300px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    img {
      width: 180px;
      height: 180px;
      object-fit: contain;
      margin-bottom: 20px;
      align-self: center;
    }

    h3 {
      color: $orange;
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      color: #ccc;
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

@media (max-width: 809px) {
  .get-cointracking__grid {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .get-cointracking__item {
    max-width: 100%;
  }
}

.footer {
  background: $black;
  color: $orange;

  text-align: center;

  &__badge {
    height: 50px;
    margin-bottom: 30px;
  }

  &__line {
    border: none;
    border-top: 1px solid #333;
    width: 100%;
    margin: 30px auto;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 22px;
    margin-bottom: 20px;

    a {
      color: $orange;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__copyright {
    font-size: 14px;
    color: $orange;
    margin: 0;
  }
}
