<section class="cards">
  <div class="container">
    <div class="cards__grid">
      <div class="card">
        <img src="./images/photo.jpg" alt="Trusted Security" />
        <h3 class="card__title">Trusted Security</h3>
        <p class="card__desc">
          Roaring lions guarding your data—okay, not really. But our high-end
          digital security protocols are just as formidable.
        </p>
      </div>
      <div class="card">
        <img src="./images/photo.jpg" alt="Ultimate Freedom" />
        <h3 class="card__title">Ultimate Freedom</h3>
        <p class="card__desc">
          Gain financial freedom to live your life the way you want with 24/7
          access to the app.
        </p>
      </div>
      <div class="card">
        <img src="./images/photo.jpg" alt="Finance Revolution" />
        <h3 class="card__title">Finance Revolution</h3>
        <p class="card__desc">
          Cointrack isn’t just a finance app, it’s a finance revolution. It just
          makes financial tracking more exciting and enjoyable.
        </p>
      </div>
      <div class="card">
        <img src="./images/photo.jpg" alt="Gamified Experience" />
        <h3 class="card__title">Gamified Experience</h3>
        <p class="card__desc">
          By mixing game-like features with financial tracking, Cointrack
          encourages users to enjoy managing their finances.
        </p>
      </div>
    </div>
  </div>
</section>
