<footer class="footer">
  <div class="container footer__inner">
    <a
      href="https://play.google.com/store/apps/details?id=com.netmarketolog.FinTrackapp"
      target="_blank"
    >
      <img
        src="./images/google-play.svg"
        alt="Get it on Google Play"
        class="footer__badge"
      />
    </a>

    <hr class="footer__line" />

    <div class="footer__socials">
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitch"></i></a>
    </div>

    <p class="footer__copyright">© 2025 FinTrackFuel.</p>
  </div>
</footer>
