<section class="reviews">
  <div class="container">
    <div class="reviews__grid">
      <div class="review">
        <div class="review__emoji">🎉</div>
        <p class="review__text">
          Cointrack isn’t just a finance app, it’s a finance revolution. It just
          makes financial tracking more exciting and enjoyable.
        </p>
        <div class="review__source">TechTimes</div>
      </div>
      <div class="review">
        <div class="review__emoji">👍</div>
        <p class="review__text">
          By mixing game-like features with financial tracking, Cointrack
          encourages its users to enjoy managing their finances. We’re
          impressed.
        </p>
        <div class="review__source">NextWeb</div>
      </div>
    </div>
  </div>
</section>
