<section class="roadmap">
  <div class="container roadmap__wrapper">
    <div class="roadmap__left">
      <h3>Coin Development Roadmap</h3>
      <p>
        Because we believe in transparency as deeply as we believe in fancy
        coins. Here’s what’s up and coming in our world.
      </p>
    </div>
    <div class="roadmap__right">
      <h3>Roadmap</h3>
      <ul>
        <li><span>Phase 1</span> <strong>Launch</strong></li>
        <li><span>Phase 2</span> <strong>First-Quarter Updates</strong></li>
        <li><span>Phase 3</span> <strong>Mid-Year Expansion</strong></li>
        <li><span>Phase 4</span> <strong>Year-End Summary</strong></li>
      </ul>
    </div>
  </div>
</section>
